<div class="container col-8">
  <form action="/answer" method="get" data-turbo="false">
    <div class="text-center mb-3">
      <label for="member">Ask your coach anything</label>
    </div>
    <div class="text-center mb-3">
     <input class="form-control" id="question" name="question" type="text" placeholder="Any question?">
    </div>
    <div class="text-center">
     <input class="btn btn-primary" type="submit" value="Ask!">
    </div>
  </form>
</div>
